.the-comment
  .the-header.the-header-comment
    %img.img-rounded{:src => 'http://placehold.it/30x30'}
    .the-name-and-professions
      .the-name
        %a{:href => '#'} Antonio Zdelican 
      .the-professions
        Surfer
        |
        Web developer
        |
        Engineer
        |
        Profession 4  
    .pull-right
      5 min
  .the-comment-text
    Lorem ipsum dolor sit amet, usu novum dolorum suavitate ne, laboramus sententiae mei ad, fuisset delectus molestiae ut ius. Sed graecis intellegam dissentiet in.