.the-comment
  .row
    .col-xs-1
      %img.img-rounded{:src => 'http://placehold.it/32x32'}
    .col-xs-9
      %a{:href => '#'} Pero Peric
      |
      Kralj
      %br
      Lorem ipsum dolor sit amet, quando nonumes vulputate duo ut, ad clita iudico vix.
    .col-xs-2
      .pull-right
        26 Aug