.the-comment
  .the-header.the-header-comment
    %img.img-rounded{:src => 'http://placehold.it/30x30'}
    .the-name-and-professions
      .the-name
        %a{:href => '#'} Antonio Zdelican 
      .the-professions
        Surfer
        |
        Developer
    .pull-right
      5 min
  .the-comment-text  
    Short text that doesn't have a meaning Lorem ipsum dolor sit amet, alia disputando qui id. blabla volumus quaestio sea ne. Ius ut amet moderatius omittantur, an elitr denique suscipiantur cum, sed no vide rationibus. Ad pri intellegat scribentur.