.the-new-comment
  .row
    .col-xs-1
      %img.img-rounded{:src => 'http://placehold.it/32x32'}
    .col-xs-11
      %a{:href => '#'} Antonio Zdelican
      |
      Surfer
      %br
      .form-group
        %input.form-control{:placeholder => "Comment...", :type => "text"}