.the-comment.the-new-comment
  .the-header.the-header-comment
    %img.img-rounded{:src => 'http://placehold.it/30x30'}
    .the-name-and-professions
      .the-name
        %a{:href => '#'} Antonio Zdelican 
      .the-professions
        Surfer
        |
        Web developer
        |
        Engineer
        |
        Profession 4 
  .the-comment-text
    .form-group
      %input.form-control{:placeholder => "Comment...", :type => "text"}