.the-thing.the-new-thing
  .the-image
    .the-image-upload
      %label{:for => "imageInput"}
        %img.img-responsive.the-input-placeholder{:src => "http://placehold.it/500x500"}
      %input#imageInput{:type => "file"}
  
    .the-new-image-container.hidden

      %button.close.btn-remove-new-image{:type => "button"}
        x
      .the-new-image-area
    // %img#target.img-responsive.full-width{:src => 'http://placehold.it/300x200'}

  .the-inner-section.the-inner-section-new
    %form.the-new-thing-form
      .form-group
        %input.form-control.the-new-thing-input{:placeholder => "Title of your thing", :type => "text"}
      .form-group
        %input.form-control.the-new-thing-input{:placeholder => "#put #some #tags", :type => "text"}
      .form-group
        %textarea.form-control.the-new-thing-input{:placeholder => "Description", :type => "text"}
      %button.btn.btn-success.btn-full-width{:type => "submit"}
        %span.fa.fa-check