.the-thing.the-new-thing
  .the-image
    %input#imageInput{:type => "file"}
    #imageArea
  
  .the-image
    %img#target.img-responsive.full-width{:src => 'http://placehold.it/300x200'}

  .the-inner-section.the-inner-section-new
    %form
      .form-group
        %input.form-control.the-new-thing-input{:placeholder => "Title of your thing", :type => "text"}
      .form-group
        %input.form-control.the-new-thing-input{:placeholder => "#put #some #tags", :type => "text"}
      .form-group
        %textarea.form-control.the-new-thing-input{:placeholder => "Description", :type => "text"}
      %button.btn.btn-success.btn-full-width{:type => "submit"}
        %span.fa.fa-check