.the-thing.the-thing-small
  .the-image
    %img.img-responsive.full-width{:src => 'http://placehold.it/300x200'}

  .the-info
    .the-title.the-title-small
      %h4 Some title that is crazy long Lorem ipsum dolor sit amet, quando nonumes vulputate duo ut, ad clita iudico vix.
    .the-tags.the-tags-small
      %p
        %a{:href => '#'} web development
        |
        %a{:href => '#'} HTML
        |
        %a{:href => '#'} Bootstrapbanbana
        |
        %a{:href => '#'} $tag4

  %hr.small-margin
  
  .the-media
    %a{:href => '#'} 150 likes
    %a{"data-target" => ".modal-full-screen", "data-toggle" => "modal", :type => "button"} Modal