.col-xs-4
  %div{:id => "thing-#{thing.id}"}
    =# link_to gravatar_for(micropost.user, size: 50), micropost.user
    //%span.user= link_to micropost.user.name, micropost.user
    %span.title
      = thing.title
    %br
    %span.timestamp
      Posted #{time_ago_in_words(thing.created_at)} ago.