.the-thing.the-thing-small
  .the-image
    %a.modal-link{"data-target" => ".modal-full-screen", "data-toggle" => "modal"}
      %img.img-responsive.full-width{:src => 'http://placehold.it/300x200'}

  .the-inner-section.the-inner-section-small
    .the-title.the-title-small
      %a.modal-link{"data-target" => ".modal-full-screen", "data-toggle" => "modal"}
        %h4 Some title that is crazy long Lorem ipsum dolor sit amet, quando nonumes vulputate duo ut, ad clita iudico vix.
    .the-tags.the-tags-small
      %p
        %a{:href => '#'} web development
        |
        %a{:href => '#'} HTML
        |
        %a{:href => '#'} Bootstrapbanbana
        |
        %a{:href => '#'} $tag4

    %hr.small-margin
  
    .the-media
      %a.grey-link{:href => '#'} 150 likes
      %a.grey-link{:href => '#'} 12 comments