.the-thing
  .the-inner-section
    .the-header
      %img.img-rounded{:src => 'http://placehold.it/40x40'}
      .the-name-and-professions
        .the-name
          %a{:href => '#'} Antonio Zdelican
        .the-professions
          Bla
          |
          Web bla
          |
          blabla
          |
          smthing    
      .pull-right
        5 min

  .the-image
    %img.img-responsive.the-big-image{:src => 'http://placehold.it/500x500'}

  .the-inner-section
    .the-title
      %h4 Some title
    .the-tags
      %p
        %a{:href => '#'} web development
        |
        %a{:href => '#'} HTML
        |
        %a{:href => '#'} Bootstrap
        |
        %a{:href => '#'} $tag4
    .the-description
      %p
        Description Lorem ipsum dolor sit amet, quando nonumes vulputate duo ut, ad clita iudico vix. Et duo sumo utinam facilis.

    %hr.small-margin

    .the-actions
      .the-action
        %a{:href => '#'}
          %span.fa.fa-thumbs-o-up
      .the-action
        %a{:href => '#'}
          %span.fa.fa-comment-o
      .the-action
        %a{:href => '#'}
          %span.fa.fa-share-square-o

    %hr.small-margin

    .the-media
      %a{:href => '#'} 150 likes

    .the-comments
      %a.grey-link{:href => '#'} view more comments
      - 3.times do
        = render partial: 'comments/comment'
      = render partial: 'comments/new_comment'
    

