= simple_form_for current_user.active_follow_relationships.build, html: {class: 'the-follow-form'} do |f|
  %div
    = hidden_field_tag :followed_id, @user.id
  = f.submit "Follow", class: "btn btn-default"