.container.container-default
  .row
    .col-xs-12
      - if user_signed_in?
        - 3.times do
          = render partial: 'things/thing'
      - else
        %h1 Welcome to Profeey
        %p some text goes here
        %p and here as well
        = render partial: 'users/shared/login_form'

.modal-container
  .modal.fade.modal-full-screen{"aria-labelledby" => "largeModal", :role => "dialog", :tabindex => "-1"}
    %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
      %span{"aria-hidden" => "true"} &times;
    .modal-dialog
      .modal-content
        = render partial: 'things/new_thing'
