.container.container-default
  .row
    .col-xs-12
      %h1 Welcome to Profeey
      %p some text goes here
      %p and here as well

      #the-basics
        %input.form-control.typeahead{placeholder: 'Profession (e.g. "Student" "Manager" "Bartender")', type: 'text'}

      - if user_signed_in?
        %h2 You are on The Wall
      - else
        = render partial: 'devise/shared/login_form'
