.container.container-default
  .row
    .col-xs-12
      %h1 Welcome to Profeey
      %p some text goes here
      %p and here as well

      - if user_signed_in?
        %h2 You are on The Wall
      - else
        = render partial: 'users/shared/login_form'
