.container.container-default
  .row
    .col-xs-12
      %h1 Bla

      %div
        bla
        .pull-right
          .the-checkbox-container
            %label.the-follow-all
              Follow all
            %a.the-checkbox.the-checkbox-all.the-check-all-people{:href => '#'}
              %span.fa.fa-check-square
            %a.the-checkbox.the-checkbox-all.the-uncheck-all-people.hidden{:href => '#'}
              %span.fa.fa-square-o
            %input.the-checkbox-all-real{:type => 'checkbox', :checked => true}

      .the-following-people
        - User.all.each do |user|
          - unless user == current_user
            .the-header
              = image_tag user.profile_pic.url(:small), class: 'img-rounded'
              .the-name-and-professions
                .the-name
                  = link_to user.full_name, user
                .the-professions
                  Bla
                  |
                  Web bla
                  |
                  blabla
                  |
                  smthing

              .pull-right
                .the-checkbox-container
                  %a.the-checkbox.the-checkbox-single.the-check-person{:href => '#'}
                    %span.fa.fa-check-square
                  %a.the-checkbox.the-checkbox-single.the-uncheck-person.hidden{:href => '#'}
                    %span.fa.fa-square-o
                  
                  %input.the-checkbox-real{:type => 'checkbox', :checked => true}
                     
            %hr.small-margin