// Styling for Bootstrap header

.navbar-default {
  background-color: $white;
  border-color: $light-grey;

  a.navbar-brand {
    color: $green;
    &:hover {
      text-decoration: none;
      color: $light-green;
    }
    &:focus {
      text-decoration: none;
      color: $light-green;
    }
  }

  .navbar-nav {
    li {
      a {
        color: $green;
        &:hover {
          text-decoration: none;
          color: $light-green;
        }
        &:focus {
          text-decoration: none;
          color: $light-green;
        }
      }
    }
  }
}