// Things

.the-thing {
  margin-bottom: 30px;
  border: 1px solid $light-grey;
  border-radius: 4px;
  &.the-thing-small {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  &.the-thing-medium {
    border: 0;
    .the-col-left {
      padding-right: 0; // to have total space of 20px between columns
    }
    .the-col-right {
      padding-left: 0;
    }
  }
}

.the-inner-section {
  padding-left: 20px;
  padding-right: 20px;
}

.the-header {
  padding-top: 15px;
  padding-bottom: 15px;
  img {
    vertical-align: top;
  }
  .the-name-and-professions{
    display: inline-block;
    padding-left: 7px;
  }
  &.the-header-medium {
  }
  &.the-header-comment {
    padding-bottom: 5px;
  }
}

.the-title {
  h4 {
    font-size: 16px;
    line-height: 1.4em;
  }
  &.the-title-small {
    h4 {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}

.the-tags {
  p {
    line-height: 1.4em;
  }
  &.the-tags-small {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 1.4em;
  }
}

.the-description {
}

.the-actions {
  font-size: 20px;
  .the-action {
    display: inline-block;
    padding-right: 30px;
  }
}

.the-media {
  // padding-bottom: 10px;
}

.the-comments {
  .the-comment {
    font-size: 12px;
    // padding-bottom: 10px;
  }
  .the-new-comment{
    input {
      border-color: $light-grey;
      box-shadow: none;
      -moz-box-shadow: none;
      -webkit-box-shadow: none;
    }
  }
  .the-comment-text {
    padding-left: 40px;
  }
}

.btn-tag {
  margin-top: 3px;
  margin-bottom: 3px;
  .remove-x {
    padding-left: 4px;
    opacity: .3;
  }
  &:hover{
    .remove-x {
      opacity: .8;
    }
  }
}