// Users pages

.user-name {

}

.the-thing {
  // margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0;
  padding-right: 0;
  border: 1px solid $light-grey;
  border-radius: 4px;
}
.the-header {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 10px;
  .inner {
    display: inline-block;
    vertical-align: middle;
  }
}
.the-info {
  padding-left: 15px;
  padding-right: 15px;
}
.the-actions {
  padding-left: 15px;
  padding-right: 15px;
  font-size: 20px;
  //text-align: center;
  .the-action {
    display: inline-block;
    padding-right: 30px;
  }
}
.the-likes {
  padding-left: 15px;
  padding-right: 15px;
}
.the-comments {
  padding-left: 15px;
  padding-right: 15px;
  .the-comment {
    padding-bottom: 10px;
  }
}

.btn-area {
  white-space: normal;
  margin-top: 3px;
  margin-bottom: 3px;
  text-align: left;
}