// Welcome flow style

.cropit-image-preview {
  background-color: $light-grey;
  background-size: cover;
  border-radius: 6px;
  margin-top: 7px;
  width: 300px;
  height: 300px;
  cursor: move;
}

.cropit-image-background {
  opacity: .2;
  cursor: auto;
}

.image-size-label {
  margin-top: 10px;
}

input.cropit-image-input {
  /* Use relative position to prevent from being covered by image background */
  position: relative;
  z-index: 10;
  display: block;
}

.the-wrapper {
  position: relative;
  width: 100%;
}
.the-profile-pic-preview-container {
  position: absolute;
  //top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,0);
  -moz-transform: translate(-50%,0);
  -o-transform: translate(-50%,0);
  -ms-transform: translate(-50%,0);
  transform: translate(-50%,0);
}


.the-profile-pic-input-container {
  text-align: center;
  position: relative;
  input#profilePicInput {
    display: none;
  }
  label.the-input-label {
    cursor: pointer;
    color: &black;
    .the-input-placeholder-text {
      font-size: 36px;
      opacity: .4;
      position:absolute;
      top: 50%;
      left: 0;
      right: 0;
      -ms-transform: translate(0,-50%); /* IE 9 */
      -webkit-transform: translate(0,-50%); /* Safari */
      transform: translate(0,-50%);
    }

    &:hover {
      .the-input-placeholder-text {
        opacity: .7;
      }
    }
  }
}

img.the-input-placeholder {
  width: 350px;
  height: 350px;
}

// follow_people
.the-following-people {
  margin-top: 30px;
  margin-bottom: 30px;
}

a.the-checkbox {
  font-size: 16px;
  span {
    // should be done to vertical align
    margin-top: 14px;
    margin-right: 5px;
  }
}

span.the-follow-all {
  padding-right: 5px;
}
