
%nav.navbar.navbar-default.navbar-static-top
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{'aria-controls' => 'navbar', 'aria-expanded' => 'false', 'data-target' => '#navbar', 'data-toggle' => 'collapse', :type => 'button'}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => '/'} P
    - if user_signed_in?
      #navbar.navbar-collapse.collapse
        %ul.nav.navbar-nav.navbar-right
          %li
            = link_to 'The Me', current_user
          %li
            = link_to 'Logout', destroy_user_session_path, method: :delete

        .col-sm-4.col-md-4.pull-right
          %form.navbar-form{:role => "search"}
            .input-group
              %input#search-field.form-control{:name => "search-field", :placeholder => "Search...", :type => "text"}
                .input-group-btn
                  %button#search-button.btn.btn-default{:type => "submit"}
                    %i.glyphicon.glyphicon-search
    / /.nav-collapse