
%nav.navbar.navbar-default.navbar-static-top
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{'aria-controls' => 'navbar', 'aria-expanded' => 'false', 'data-target' => '#navbar', 'data-toggle' => 'collapse', :type => 'button'}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => '/'} P
    - if user_signed_in?
      #navbar.navbar-collapse.collapse
        .the-post-button
          %a.the-post-link{"data-target" => ".modal-full-screen", "data-toggle" => "modal"}
            %span.fa.fa-pencil-square-o
        
        %ul.nav.navbar-nav
          %li
            = link_to '#' do
              %span.fa.fa-bell.the-icon
          %li
            = link_to '#' do
              %span.fa.fa-envelope.the-icon
        
        %ul.nav.navbar-nav.navbar-right
          %li
            = link_to current_user do
              %span.fa.fa-user.the-icon
          %li.dropdown
            %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
              %span.fa.fa-cog.the-icon
              %span.caret
            %ul.dropdown-menu
              %li
                %a{:href => "#"} Action
              %li
                %a{:href => "#"} Another action
              %li.divider{:role => "separator"}
              %li
                = link_to 'Logout', destroy_user_session_path, method: :delete

        %div.pull-right
          %form.navbar-form{:role => "search"}
            .input-group
              %input#search-field.form-control{:name => "search-field", :placeholder => "Search...", :type => "text"}
                .input-group-btn
                  %button#search-button.btn.btn-default{:type => "submit"}
                    %i.glyphicon.glyphicon-search
    / /.nav-collapse